body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    position: relative; /* Make body a positioning context */
}

.container {
    text-align: center;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.search-container {
    position: relative; /* Ensure positioning context for children */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Add margin between search bar and subtext */
}

#search-bar {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

#search-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

#search-button:hover {
    background-color: #0056b3;
}

.subtext {
    font-size: 14px;
    margin-top: 5px;
    color: #888;
}

/*sbdlhfsb*/